.button__groups {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-top: 2.5rem;
  z-index: 10000;
}
.button__groups .btn-header {
  background: rgba(255, 255, 255, 0.196);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  border: 1px solid rgba(255, 255, 255, 0.52);
  color: rgb(205, 205, 205);
  background: transparent;
  width: 90px;
  padding: 0.1rem 0;
  gap: 0.4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-family: "Nunito", sans-serif;
  margin-inline: 0.3rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.button__groups .btn-header:hover {
  background: rgba(255, 255, 255, 0.196);
}

.work {
  color: rgb(205, 205, 205);
  font-family: "Nunito", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  cursor: pointer;
}
.work a {
  color: rgb(205, 205, 205);
  text-decoration: underline;
  margin-left: 0.3rem;
}
.work a:hover {
  color: rgb(243, 243, 243);
}

.btn__primary {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  padding: 0.5rem 3rem;
  background: rgba(255, 255, 255, 0.196);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  border: 1px solid rgba(255, 255, 255, 0.52);
  color: rgb(205, 205, 205);
  background-color: transparent;
  color: rgb(243, 243, 243);
  transition: 0.3s ease;
  cursor: pointer;
}
.btn__primary:hover {
  background: rgba(255, 255, 255, 0.196);
}

.btn__projects {
  grid-column: span 2;
  margin: 0 auto;
}

.btn__form {
  width: 25%;
  align-self: flex-end;
  background: transparent;
}

header {
  height: 85vh;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 1%;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  z-index: 10000;
  padding-block: 2.5rem;
}
.navbar ul {
  padding-inline: 1.8rem;
  display: flex;
  gap: 1.1rem;
  font-family: "Nunito", sans-serif;
  background: rgba(255, 255, 255, 0.054);
  border-radius: 13px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  border: 1px solid rgba(255, 255, 255, 0.52);
  padding-block: 0.3rem;
  backdrop-filter: blur(100px);
}
.navbar ul li a {
  cursor: pointer;
  color: rgb(216, 216, 216);
  font-size: 0.95rem;
  font-weight: 400;
}

.hero {
  display: flex;
  height: 70%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.hero .title {
  width: 80%;
  margin-top: 9rem;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas: una para el h1 y otra para el p */
  color: rgb(243, 243, 243);
  z-index: 10;
}
.hero .title h1 {
  font-size: clamp(4rem, 8vw, 9rem);
  line-height: 0.9;
  padding-left: 15rem;
  font-family: "Crimson Text", serif;
  font-weight: 300;
}
.hero .title span {
  display: inline-flex;
  transform: translateX(-120px);
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  color: rgba(245, 237, 20, 0.863);
}
.hero .title p {
  color: rgb(205, 205, 205);
  font-size: 0.7rem;
  font-family: "Nunito", sans-serif;
  display: block;
  margin-top: 9rem;
  transform: translateX(-80px);
  width: 80%;
  text-transform: uppercase;
}
.hero .work__link {
  display: inline-flex;
  align-items: center;
}
.hero .work__link svg {
  margin-left: 3px;
  transition: transform 0.3s ease;
  margin-bottom: 1px;
}
.hero .work__link:hover svg {
  transform: translateX(5px);
}

.projects {
  height: 100%;
  margin-inline: 6rem;
  padding-bottom: 3rem;
}
.projects .projects__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 3rem;
  max-height: 100%;
}
.projects .projects__grid .project__box {
  border-radius: 13px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(255, 255, 255, 0.61);
  display: flex;
  max-width: 650px;
  padding: 0.5rem;
}
.projects .projects__grid .project__box .project__img {
  width: 50%;
}
.projects .projects__grid .project__box .project__img img {
  object-fit: cover;
  border-radius: 5px;
  max-width: 100%;
  height: 100%;
}
.projects .projects__grid .project__box .box__description {
  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: rgb(243, 243, 243);
  width: 100%;
  margin-left: 1rem;
}
.projects .projects__grid .project__box .box__description h2 {
  font-size: 1.3rem;
  display: flex;
  margin-block: 0.5rem;
}
.projects .projects__grid .project__box .box__description .project__link {
  color: rgb(205, 205, 205);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}
.projects .projects__grid .project__box .box__description .project__link svg {
  margin-left: 3px;
  transition: transform 0.3s ease;
  margin-bottom: 1px;
}
.projects .projects__grid .project__box .box__description .project__link:hover svg {
  transform: translateX(5px);
}
.projects .projects__grid .project__box .box__description ul {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.about {
  height: 100%;
  margin-inline: 20%;
  margin-top: 4rem;
}
.about .about__grid {
  width: 100%;
  border-radius: 13px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(255, 255, 255, 0.61);
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6rem;
}
.about .about__grid .about__description {
  width: 100%;
  padding-left: 1.5rem;
}
.about .about__grid .about__description p {
  font-size: 1.5rem;
  font-family: "Crimson Text", serif;
  color: rgb(205, 205, 205);
  text-transform: uppercase;
  line-height: 1.8;
  margin-top: 1rem;
}
.about .about__grid .about__img {
  width: 100%;
  padding: 0.8rem;
}
.about .about__grid .about__img img {
  border-radius: 2%;
}
.about .tech-slider {
  border-radius: 13px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(255, 255, 255, 0.61);
  border-radius: 6px;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  white-space: nowrap;
}

.contact {
  padding-bottom: 3rem;
  width: 100%;
  padding-top: 6rem;
}
.contact .form form {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.contact .form form .input__group {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.contact .form form .input__group input, .contact .form form .input__group textarea {
  font-family: "Nunito", sans-serif;
  border: none;
  background: transparent;
  border-bottom: 1px solid #9C9C9C;
  padding-bottom: 0.5rem;
  padding-left: 0.3rem;
  width: 700px;
  color: rgb(205, 205, 205);
}
.contact .form form .input__group input::placeholder, .contact .form form .input__group textarea::placeholder {
  color: rgb(205, 205, 205);
}
.contact .form form .input__group input:focus::placeholder, .contact .form form .input__group textarea:focus::placeholder {
  color: rgba(245, 237, 20, 0.863);
}
.contact .form form textarea {
  resize: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  outline: none;
}

body {
  background-color: rgb(8, 5, 54);
  background-image: url(/images/milad-fakurian-CWcVHTxP0IM-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  cursor: pointer;
}

i {
  font-size: 1.7rem;
}

.section__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
  font-family: "Crimson Text", serif;
  font-size: 3rem;
  color: rgba(245, 237, 20, 0.863);
}

.bxl-html5 {
  color: #E34F26;
}

.bxl-css3 {
  color: #1572B6;
}

.bxl-javascript {
  color: #F7DF1E;
}

.bxl-sass {
  color: #c69;
}

.bxl-react {
  color: #61DAFB;
}

.bxl-nodejs {
  color: #8CC84B;
}

.bxl-github {
  color: #F05032;
}

/*# sourceMappingURL=style.css.map */
