.button__groups {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-top: 2.5rem;
  z-index: 10000;
}
.button__groups .btn-header {
  background: rgba(255, 255, 255, 0.196);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  border: 1px solid rgba(255, 255, 255, 0.52);
  color: rgb(205, 205, 205);
  background: transparent;
  width: 90px;
  padding: 0.1rem 0;
  gap: 0.4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-family: "Nunito", sans-serif;
  margin-inline: 0.3rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.button__groups .btn-header:hover {
  background: rgba(255, 255, 255, 0.196);
}

.work {
  color: rgb(205, 205, 205);
  font-family: "Nunito", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  cursor: pointer;
}
.work a {
  color: rgb(205, 205, 205);
  text-decoration: underline;
  margin-left: 0.3rem;
}
.work a:hover {
  color: rgb(243, 243, 243);
}

@media (min-width: 550px) and (max-width: 779px) {
  .work {
    font-size: 0.9rem;
  }
}
@media (min-width: 350px) and (max-width: 549px) {
  .button__groups {
    text-align: center;
    width: 100%;
  }
  .button__groups .links__groups {
    display: flex;
    align-items: center;
    margin-left: 1rem;
  }
}
@media (min-width: 250px) and (max-width: 349px) {
  .button__groups {
    flex-direction: column;
    gap: 1rem;
  }
}
.btn__primary {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  padding: 0.5rem 3rem;
  background: rgba(255, 255, 255, 0.196);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  border: 1px solid rgba(255, 255, 255, 0.52);
  color: rgb(205, 205, 205);
  background-color: transparent;
  color: rgb(243, 243, 243);
  transition: 0.3s ease;
  cursor: pointer;
}
.btn__primary:hover {
  background: rgba(255, 255, 255, 0.196);
}

.btn__projects {
  grid-column: span 2;
  margin: 0 auto;
}

.btn__form {
  width: 25%;
  align-self: flex-end;
  background: transparent;
}

header {
  height: 75vh;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 1%;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  z-index: 10000;
  padding-block: 2.5rem;
}
.navbar ul {
  display: flex;
  gap: 0.5rem;
  font-family: "Nunito", sans-serif;
  border-radius: 13px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(255, 255, 255, 0.61);
  border-radius: 16px;
  backdrop-filter: blur(100px);
  padding: 0.3rem 0.2rem;
}
.navbar ul li a {
  cursor: pointer;
  color: rgb(243, 243, 243);
  font-size: 0.95rem;
  font-weight: 300;
  padding: 0.3rem 0.7rem;
  border-radius: 16px;
  overflow: hidden;
  transition: color 0.3s ease;
  position: relative;
}
.navbar ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 0%;
  background-color: rgba(255, 255, 255, 0.196);
  transition: height 0.3s ease, transform 0.3s ease;
  transform: translateX(-50%);
  z-index: -1;
  border-radius: 16px;
}
.navbar ul li a:hover {
  color: rgb(243, 243, 243);
}
.navbar ul li a:hover::before {
  height: 100%;
}

.hero {
  display: flex;
  height: 70%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.hero .title {
  width: 80%;
  margin-top: 9rem;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas: una para el h1 y otra para el p */
  color: rgb(243, 243, 243);
  z-index: 10;
}
.hero .title h1 {
  position: relative;
  font-size: clamp(3.8rem, 8vw, 9rem);
  line-height: 0.9;
  padding-left: 15rem;
  font-family: "Crimson Text", serif;
  font-weight: 300;
}
.hero .title span {
  display: inline-block;
  transform: translateX(-120px);
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  color: rgba(245, 237, 20, 0.863);
  position: relative;
}
.hero .title p {
  color: rgb(205, 205, 205);
  font-size: 0.7rem;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  width: 70%;
  position: relative;
  top: 10rem;
  right: 100px;
}
.hero .work__link {
  display: inline-flex;
  align-items: center;
}
.hero .work__link svg {
  margin-left: 3px;
  transition: transform 0.3s ease;
  margin-bottom: 1px;
}
.hero .work__link:hover svg {
  transform: translateX(5px);
}

@media (min-width: 1200px) and (max-width: 1520px) {
  .hero .title p {
    top: 7rem;
    width: 90%;
    font-size: 0.63rem;
  }
}
@media (min-width: 990px) and (max-width: 1201px) {
  .hero .title {
    width: 90%;
  }
  .hero .title p {
    margin-top: -4rem;
    width: 100%;
    font-size: 0.64rem;
  }
}
@media (min-width: 780px) and (max-width: 989px) {
  .hero {
    height: 100%;
  }
  .hero .title {
    width: 100%;
  }
  .hero .title p {
    margin-top: -5.7rem;
    width: 100%;
    font-size: 0.6rem;
  }
  .hero .button__groups {
    margin-top: 5rem;
    width: 80%;
  }
}
@media screen and (max-width: 779px) {
  .hero .title {
    grid-template-columns: 1fr;
    width: 80%;
    text-align: center;
  }
  .hero .title h1 {
    padding-left: 0rem;
  }
  .hero .title span {
    transform: translateX(0px);
  }
  .hero .title p {
    margin-top: 1.5rem;
    padding-inline: 3rem;
    text-align: initial;
    width: 100%;
    top: 0;
    right: 0;
  }
  .hero .work__link {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 550px) {
  .hero .title {
    margin-top: 7rem;
  }
  .hero .button__groups {
    width: 80%;
    margin-top: 3rem;
  }
}
@media (min-width: 390px) and (max-width: 549px) {
  .hero .title {
    width: 100%;
    margin-top: 6rem;
  }
  .hero .title h1 {
    margin-inline: 0.5rem;
  }
  .hero .title p {
    margin-top: 2.5rem;
    width: 100%;
    padding-inline: 2rem;
  }
  .hero .button__groups {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}
@media (min-width: 250px) and (max-width: 389px) {
  .hero .title {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .hero .title h1 {
    text-align: center;
    padding-left: 0;
  }
  .hero .title span {
    transform: translateX(0);
  }
  .hero .title p {
    margin-top: 2rem;
    transform: translateX(0);
    padding-inline: 0;
    margin-left: 0.8rem;
    font-size: 0.6rem;
  }
  .hero .button__groups {
    margin-top: 5rem;
    display: flex;
    gap: 3rem;
  }
  .hero .button__groups .links__groups {
    gap: 1rem;
    display: flex;
  }
}
.projects {
  height: 100%;
  margin-inline: 9rem;
  padding-bottom: 3rem;
  padding-top: 4rem;
}
.projects .projects__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3rem;
  max-height: 100%;
}
.projects .projects__grid .project__box {
  border-radius: 13px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(255, 255, 255, 0.61);
  display: flex;
  flex-direction: column;
  max-width: 650px;
  max-height: 570px;
  padding-bottom: 0.7rem;
}
.projects .projects__grid .project__box .project__img {
  width: 100%;
  height: 100%;
}
.projects .projects__grid .project__box .project__img img {
  object-fit: cover;
  width: 100%;
  height: 95%;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}
.projects .projects__grid .project__box .box__description {
  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: rgb(243, 243, 243);
  margin-left: 0.6rem;
}
.projects .projects__grid .project__box .box__description h2 {
  font-size: 1.3rem;
  display: flex;
  margin-block: 0.5rem;
}
.projects .projects__grid .project__box .box__description .project__link {
  color: rgb(205, 205, 205);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}
.projects .projects__grid .project__box .box__description .project__link svg {
  margin-left: 3px;
  transition: transform 0.3s ease;
  margin-bottom: 1px;
}
.projects .projects__grid .project__box .box__description .project__link:hover svg {
  transform: translateX(5px);
}
.projects .projects__grid .project__box .box__description ul {
  display: flex;
  gap: 0.7rem;
  margin-top: 1.5rem;
  margin-right: 1rem;
  justify-content: flex-end;
}

@media screen and (max-width: 1400px) {
  .projects {
    margin-inline: 5rem;
  }
  .projects .projects__grid {
    gap: 4rem;
  }
  .projects .projects__grid .project__box .box__description h2 {
    font-size: 1.15rem;
  }
}
@media screen and (max-width: 900px) {
  .projects .projects__grid .project__box .box__description ul {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 760px) {
  .projects {
    padding-top: 2rem;
    margin-inline: 3rem;
  }
  .projects .projects__grid {
    display: flex;
    flex-direction: column;
  }
  .projects .projects__grid .project__box .box__description h2 {
    font-size: 1.3rem;
  }
  .projects .projects__grid .project__box .box__description .box__list {
    display: flex;
    justify-content: flex-end;
  }
  .projects .projects__grid .project__box .box__description .box__list li i {
    font-size: 1.7rem;
  }
}
.about {
  height: 100%;
  margin-inline: 15%;
  margin-top: 4rem;
}
.about .about__grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10rem;
}
.about .about__grid .about__description {
  width: 90%;
  border-radius: 13px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(255, 255, 255, 0.61);
  padding-left: 2rem;
  padding-bottom: 1rem;
}
.about .about__grid .about__description p {
  font-size: 1.4rem;
  font-family: "Crimson Text", serif;
  color: rgb(205, 205, 205);
  text-transform: uppercase;
  line-height: 1.8;
  margin-top: 1rem;
  max-width: 80%;
}
.about .about__grid .about__img {
  width: 100%;
  padding: 0.8rem;
}
.about .about__grid .about__img img {
  border-radius: 2%;
}
.about .tech-slider {
  border-radius: 13px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(255, 255, 255, 0.61);
  border-radius: 6px;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  white-space: nowrap;
}

@media screen and (max-width: 1450px) {
  .about {
    margin-inline: 5%;
  }
  .about .about__grid {
    column-gap: 4rem;
  }
  .about .about__grid .about__description {
    width: 90%;
  }
  .about .about__grid .about__description p {
    line-height: 1.7;
  }
}
@media screen and (max-width: 970px) {
  .about .about__grid {
    column-gap: 3rem;
  }
  .about .about__grid .about__description {
    width: 100%;
  }
  .about .about__grid .about__description p {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 732px) {
  .about .about__grid {
    column-gap: 1rem;
  }
  .about .about__grid .about__description {
    padding-left: 1rem;
    padding-bottom: 0;
    padding-right: 0.5rem;
  }
  .about .about__grid .about__description p {
    font-size: 1rem;
    max-width: 100%;
  }
}
@media screen and (max-width: 598px) {
  .about .about__grid {
    grid-template-columns: 1fr;
  }
  .about .about__grid .about__description {
    order: 2;
    padding-bottom: 1rem;
    margin-top: 1rem;
  }
  .about .about__grid .about__img {
    text-align: center;
  }
}
.contact {
  padding-bottom: 3rem;
  width: 100%;
  padding-top: 6rem;
}
.contact .form form {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.contact .form form .input__group {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.contact .form form .input__group input, .contact .form form .input__group textarea {
  font-family: "Nunito", sans-serif;
  border: none;
  background: transparent;
  border-bottom: 1px solid #9C9C9C;
  padding-bottom: 0.5rem;
  padding-left: 0.3rem;
  width: 700px;
  color: rgb(205, 205, 205);
}
.contact .form form .input__group input::placeholder, .contact .form form .input__group textarea::placeholder {
  color: rgb(205, 205, 205);
}
.contact .form form .input__group input:focus::placeholder, .contact .form form .input__group textarea:focus::placeholder {
  color: rgba(245, 237, 20, 0.863);
}
.contact .form form textarea {
  resize: none;
}

@media screen and (max-width: 1010px) {
  .contact .form form .input__group input, .contact .form form .input__group textarea {
    width: 580px;
  }
}
@media screen and (max-width: 700px) {
  .contact {
    margin-left: 1rem;
  }
  .contact .form form .input__group input, .contact .form form .input__group textarea {
    width: 440px;
  }
}
@media screen and (max-width: 450px) {
  .contact {
    margin-left: 0.5rem;
  }
  .contact .form form .input__group input, .contact .form form .input__group textarea {
    width: 300px;
  }
}
@media screen and (max-width: 299px) {
  .contact {
    margin-left: 2rem;
  }
  .contact .form form .input__group input, .contact .form form .input__group textarea {
    width: 270px;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  outline: none;
}

body {
  background-color: rgb(8, 5, 54);
  background-image: url(/images/milad-fakurian-CWcVHTxP0IM-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  cursor: pointer;
}

i {
  font-size: 1.7rem;
}

@media (min-width: 550px) and (max-width: 779px) {
  i {
    font-size: 1.3rem;
  }
}
.section__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
  font-family: "Crimson Text", serif;
  font-size: 3rem;
  color: rgba(245, 237, 20, 0.863);
}

.bxl-html5 {
  color: #E34F26;
}

.bxl-css3 {
  color: #1572B6;
}

.bxl-javascript {
  color: #F7DF1E;
}

.bxl-sass {
  color: #c69;
}

.bxl-react {
  color: #61DAFB;
}

.bxl-nodejs {
  color: #8CC84B;
}

.bxl-github {
  color: #F05032;
}

/*# sourceMappingURL=style.css.map */
