@import 'mixins';

.button__groups{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: 2.5rem;
    z-index: 10000;

    .btn-header{
        @include estilo-contenedor;
        background: transparent;
        width: 90px;
        padding: .1rem 0;
        gap: .4rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        font-family: $font-family-primary;
        margin-inline: .3rem;
        transition: .3s ease-in-out;
        cursor: pointer;

        &:hover{
            background: $color-hover;
        }
        
    }
}





.work{
        color: $color-p;
        font-family: $font-family-primary;
        font-size: 1.1rem;
        font-weight: 300;
        cursor: pointer;

        a{
            color: $color-p;
            text-decoration: underline;
            margin-left: .3rem;

            &:hover{
                color: $color-white-strong;
            }
        }
}

@media (min-width: 550px) and (max-width: 779px){
    .work{
        font-size: .9rem;
        }
    }


    
@media (min-width: 350px) and (max-width: 549px){
.button__groups{
    text-align: center;
    width: 100%;

    .links__groups{
        display: flex;
        align-items: center;
        margin-left: 1rem;
    }
}
}

@media (min-width: 250px) and (max-width: 349px){
.button__groups{
    flex-direction: column;
    gap: 1rem;
}
}


.btn__primary{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-family-primary;
    padding: .5rem 3rem;
    @include estilo-contenedor;
    background-color: transparent;
    color: $color-white-strong;
    transition: .3s ease;
    cursor: pointer;

    
    &:hover{
    background: $color-hover;
    }
}


.btn__projects{
    grid-column: span 2;
    margin: 0 auto;
}

.btn__form{
    width: 25%;
    align-self: flex-end;
    background: transparent;
}