$font-family-primary:"Questrial", sans-serif;


$font-family-secondary: "Petrona", serif;

$color-hover:rgba(255, 255, 255, 0.196);
$color-white-strong:rgb(243, 243, 243);
$color-yellow:rgba(245, 237, 20, 0.863);
$color-p:rgb(205, 205, 205);