@import 'variables';
@import 'buttons';
@import 'mixins';
@import '../scss/sections/header/header';
@import '../scss/navbar';
@import '../scss/sections/header/hero';
@import '../scss/sections/projects/projects';
@import '../scss/sections/about/about';
@import '../scss/sections/contact/contact';


*,
*::before,
*::after{
    box-sizing: border-box;
}


*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    outline: none;
}

body{
    background-color: rgb(8, 5, 54);
    background-image: url(/images/milad-fakurian-CWcVHTxP0IM-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




a{
    cursor: pointer;
}

i{
    font-size: 1.7rem;
}

@media (min-width: 550px) and (max-width: 779px){
   i{
    font-size: 1.3rem;
   }
    }

.section__title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 4rem;
    font-family: $font-family-secondary;
    font-size: 3rem;
    color: rgba(245, 237, 20, 0.863);
}



  
  

.bxl-html5{
    color: #E34F26;
}

.bxl-css3{
    color: #1572B6;
}

.bxl-javascript{
color:#F7DF1E ;
}

.bxl-sass{
color: #c69;
}

.bxl-react{
    color: #61DAFB;
}

.bxl-nodejs{
    color: #8CC84B;
}

.bxl-github{
    color: #F05032;
}