.hero{
    display: flex;
    height: 70%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;


        .title{
            width: 80%;
            margin-top: 9rem;
            display: grid;
            grid-template-columns: 1fr 1fr; /* Dos columnas: una para el h1 y otra para el p */
            color: $color-white-strong;
            z-index: 10;

            h1{
                font-size:clamp(4rem,8vw,9rem);
                line-height: .9;
                padding-left: 15rem;
                font-family: $font-family-secondary;
                font-weight: 300;

            }

            span{

                display: inline-flex;
                transform: translateX(-120px);
                font-family: $font-family-primary;
                font-weight: 500;
                color: $color-yellow;

            }


            p{
                color: $color-p;
                font-size: .7rem;
                font-family: $font-family-primary;
                display: block;
                margin-top: 9rem;
                transform: translateX(-80px);
                width: 80%;
                text-transform: uppercase;
                
            }
        }


        .work__link{
            display: inline-flex;
            align-items: center;


            svg{
                margin-left: 3px;
                transition: transform 0.3s ease;
                margin-bottom: 1px;
            }
        }
        
        .work__link:hover svg{
            transform: translateX(5px);
        }

}