.hero{
    display: flex;
    height: 70%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;


        .title{
            width: 80%;
            margin-top: 9rem;
            display: grid;
            grid-template-columns: 1fr 1fr; /* Dos columnas: una para el h1 y otra para el p */
            color: $color-white-strong;
            z-index: 10;
            
            h1{
                position: relative;
                font-size:clamp(3.8rem,8vw,9rem);
                line-height: .9;
                padding-left: 15rem;
                font-family: $font-family-secondary;
                font-weight: 300;
                
            }
            
            span{
                display: inline-block;
                transform: translateX(-120px);
                font-family: $font-family-primary;
                font-weight: 500;
                color: $color-yellow;
                position: relative;

            }


            p{
                color: $color-p;
                font-size: .7rem;
                font-family: $font-family-primary;
                // display: block;
                // margin-top: 9rem;
                // top: 50%;
                // left: 100%;
                // transform: translate(-100%, 50%);
                // // transform: translateX(-80px);
                // width: 80%;
                text-transform: uppercase;
                width: 70%;
                position: relative;
                top: 10rem;
                right: 100px;
            }
        }


        .work__link{
            display: inline-flex;
            align-items: center;


            svg{
                margin-left: 3px;
                transition: transform 0.3s ease;
                margin-bottom: 1px;
            }
        }
        
        .work__link:hover svg{
            transform: translateX(5px);
        }

}



@media (min-width: 1200px) and (max-width: 1520px){
    .hero{
        .title{
            p{
                top: 7rem;
                width: 90%;
                font-size: .630rem;
            }
        }
    }
}

@media (min-width: 990px) and (max-width: 1201px){
    .hero{
        .title{
            width: 90%;
            p{  
                margin-top: -4rem;
                width: 100%;
                font-size: .640rem;
            }
        }
    }
}


@media (min-width: 780px) and (max-width: 989px){
    .hero{
        height: 100%;
        .title{
            width: 100%;
            p{  
                margin-top: -5.7rem;
                width: 100%;
                font-size: .6rem;
            }
        }

        .button__groups{
            margin-top: 5rem;
            width: 80%;
        }
    }
}



@media screen and (max-width: 779px){
.hero{
    .title{
        grid-template-columns: 1fr;
        width: 80%;
        text-align: center;

        h1{
            padding-left: 0rem;
        }

        span{
            transform: translateX(0px);
        }

        p{
            margin-top: 1.5rem;
            padding-inline: 3rem;
            text-align: initial;
            width: 100%;
            top: 0;
            right: 0;
        }
    }

    .work__link{
        display: flex;
        justify-content: center;
    }
    }
}


@media screen and (min-width:550px){
    .hero{
        .title{
            margin-top: 7rem;
        }

        .button__groups{
            width: 80%;
            margin-top: 3rem;
        }

        
        
    }
}



@media (min-width: 390px) and (max-width: 549px){
    .hero{
        .title{
        width: 100%;

            margin-top: 6rem;


            h1{
            margin-inline: .5rem;

            }

            span{
            }

            p{
                margin-top: 2.5rem;
                width: 100%;
                padding-inline: 2rem;
            }
        }
        .button__groups{
            margin-top: 5rem;
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }
        
    }
}


@media (min-width: 250px) and (max-width: 389px){
.hero{
    .title{
        grid-template-columns: 1fr;
        width: 100%;

        h1{
            text-align: center;
            padding-left: 0;

        }

        span{
            transform: translateX(0);
        }

        p{
            margin-top: 2rem;
            transform: translateX(0);
            padding-inline: 0;
            margin-left: .8rem;
            font-size: .6rem;
        }
    }

    .button__groups{
        margin-top: 5rem;
        display: flex;
        gap: 3rem;

       .links__groups{
            gap: 1rem;
            display: flex;
        }
    }

   
}
}