.projects{
    height: 100%;
    margin-inline: 9rem;
    padding-bottom: 3rem;
    padding-top: 4rem;

    .projects__grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 3rem;
        max-height: 100%;


        .project__box{
           @include contenedor-projectos;
            display: flex;
            flex-direction: column;
            max-width: 650px;
            max-height: 570px;
            padding-bottom: .7rem;
            

            .project__img{
                width: 100%;
                height: 100%;
                
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 95%;
                    border-top-left-radius: 13px;
                    border-top-right-radius: 13px;
                }
            }
            .box__description{
                font-family: $font-family-primary;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                color: $color-white-strong;
                margin-left: .6rem;

                h2{
                    font-size: 1.3rem;
                    display: flex;
                    margin-block: .5rem;
                }

                .project__link {
                    color: $color-p;
                    text-decoration: none;
                    display: inline-flex;
                    align-items: center;

                    svg{
                        margin-left: 3px;
                        transition: transform 0.3s ease;
                        margin-bottom: 1px;
                    }
                }
                    .project__link:hover svg{
                        transform: translateX(5px);
                    }


                ul{
                    display: flex;
                    gap: .7rem;
                    margin-top: 1.5rem;
                    margin-right: 1rem;
                    justify-content: flex-end;
                }
            }
        }
    }

    
}


@media screen and (max-width:1400px){
.projects{
    margin-inline: 5rem;

    .projects__grid{
        gap: 4rem;

        .project__box{
            .box__description{
                h2{
                    font-size: 1.150rem;
                }
            }
        }
    }
}
}


@media screen and (max-width:900px){
    .projects{
        .projects__grid{
            .project__box{

                .box__description{
                    ul{
                        margin-top: 2rem;
                    }
                }
            }
        }
    }
}


@media screen and (max-width:760px){
    .projects{
        padding-top: 2rem;
        margin-inline: 3rem;

        .projects__grid{
            display: flex;
            flex-direction: column;
            
            .project__box{

                .box__description{
                    h2{
                        font-size: 1.3rem;
                    }

                    .box__list{
                        display: flex;
                        justify-content: flex-end;
                        li i{
                            font-size: 1.7rem;
                        }
                    }
                }
            }
        }
    }
}