.contact{
    width: 100%;
    
    .form{
        form{
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 0 auto;
            gap: 1.5rem;
            background-color: transparent;
            padding: 2rem;
            border-radius: 8px;
            width: min(85%, 700px);

            .input__group{
                display: flex;
                flex-direction: column;
                gap: 2.5rem;
                width: 100%;
                
                input,textarea{
                    padding: 0.75rem;
                    color: $color-p;
                    border: none;
                    background-color: transparent;
                    border-bottom: 1px solid $color-contact;
                    border-radius: 4px;
                    font-size: .9rem;
                    width: 100%;


                    &::placeholder{
                        color:$color-p;
                    }

                    &:focus::placeholder{
                        color: $color-yellow;
                    }
                }
            }

            textarea{
                resize: none;
                
            }

             }
        }
}

